# Dataset lourd
data/cs-training.csv
data/cs-test.csv
data/*.zip

# On garde
# data/Data_Dictionary.xls  ← autorise
# data/cs-training-sample.csv ← on creera un sample plus tard

# Jupyter
.ipynb_checkpoints/

# Environnement
venv/
env/
.env

# Modeles sauvegardes
models/*.h5
models/*.pkl

# Python
__pycache__/
*.pyc